@import ../../font/Arial/font
@import ../../font/Georgia/font
@import ../../font/Helvetica/font
@import ../../font/Tahoma/font

.ant-tabs-card-content > .ant-tabs-tabpane
    height: 100%

.screen .ant-layout-header
    padding: 0
    height: auto

.screen main .draggable
    cursor: col-resize
